*{
    margin: 0;
    padding: 0;
    
}


body{
    min-height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-weight: 900;
    font-style: normal;
}

nav{
    width: 100%;
    background-color: #2e86c1;
    display: flex;
    position: fixed;
    z-index: 99; 
   
   
}


nav ul img{
    align-items: left;
}

nav ul{
width: 100%;
background-color: #2e86c1;
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
max-height: 100vh;
}





 nav li{
    height: 50px;
 }


 nav a{
    height: 100%;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffa500;
    transition: .3s;
}

nav a:hover{
    transform: scale(1.1);
    color: #ffffff;
}


nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 10;
}

.menu-button{
    display: none;
}




/* body sarts here */




.home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./body.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.home .content{
    text-align: center;
     padding-top: 80px; 
}



.home .content p{
    padding-left: 5.5%;
    padding-top: 12%;
    padding-right: 5.5%;
   
    
    color: white;
    font-size: 1.2em;
    word-spacing: 5px;
   font-family: light;
    font-family: "Libre Franklin", sans-serif;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}



/* and ends here */



#features {
    padding: 7% 8%;
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

h3 a{
    font-family: "Protest Guerrilla", sans-serif;
    text-decoration: none;
    color: #2e86c1;
}


p{
    font-family: "Roboto Condensed", sans-serif;
    color: black;
}

.feature-box img{
    padding-bottom: 1.2rem;

   margin-bottom: 2.5rem; 
}

.icon:hover{
    color:#2e86c1;
}














#mainly {
    background-color: #d8d8d8;
    padding: 0 12%; 
}

.mainly-box{
    text-align: center;
     padding: 4.5%; 
     word-spacing: 0.1rem;
}

h3 {
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
   color: #ffa500;
   text-shadow: 0px 1px 1px black;
}

h3 span{
color: #2e86c1;
}


p{
    font-family: "Roboto Condensed", sans-serif;
    color: black;
}



.noir{
    align-items: center;
}














/* the navbar section */

@media(max-width:800px) {

    .hideOnMobile{
        display: none ;
    }

    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}




















@media (max-width:765px){
    
    

.home{
    width: 100%;
    height: 50vh;
}
  

.home .content p{
    font-size: 14px;
    
}


}














#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #000000;
}

#footer h1{
    font-weight: 600;
    padding-top: 30px;
    color: #2e86c1;
    text-shadow: 0px 0px 1px #2e86c1;
}

#footer h1 span{
    color: #ffa500;
}

#footer p{
    color: #ffffff;
}

.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: #ffa500;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover{
    transform: scale(1.2)translateY(-10px);
    color: #2e86c1;
    border: 2px solid #ffa500;
}


#footer .credit a{
    text-decoration: none;
}
/*Footer Section Ends*/