*{
    margin: 0;
    padding: 0;
    
}


body{
    min-height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-weight: 900;
    font-style: normal;
}

nav{
    width: 100%;
    background-color: #2e86c1;
    display: flex;
     position: fixed;
    z-index: 99; 
    
   
}


nav ul img{
    align-items: left;
}

nav ul{
width: 100%;
background-color: #2e86c1;
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
max-height: 100vh;
}





 nav li{
    height: 50px;
 }


 nav a{
    height: 100%;
    font-weight: 600;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffa500;
    transition: .3s;
}

nav a:hover{
    transform: scale(1.1);
    color: #ffffff;
}
  /* 
    border-radius: 50%;
    border-width: 1px;
}

*/

nav li:first-child{
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 10;
}

.menu-button{
    display: none;
}




/* feature section  */










#features {
    padding: 7% 15%;
    background-color: #dfdcdc;
}



#features .content{
    text-align: center;
    padding: 4.5%;
  
}


#features .content h1{
    color: #2e86c1;
    font-weight: bolder;
    text-shadow: 0px 1px 1px black;
}



#features .content h1 span{
    color: #ffa500;
}

#features .content p{
    font-weight: bold;
    margin-top: 3%;
    font-size: 15px;
}













.feature-box{
    text-align: center;
    padding: 4.5%;
}


.feature-box h4{
    font-family: "Libre Franklin", sans-serif;
    font-size: 16px;
    text-shadow: 0px 1px 1px #ffa500;
    /* font-weight: bolder; */
   
}



.icon{
    color: #2e86c1;
    margin-bottom: 1rem;
    text-shadow: 0px 1px 1px black;
}


.icon:hover{
    color: darkorange;
}







/* end of feature section  */




































.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}




.container h1{
    padding-bottom: 40px;
    text-align: center;
    font-size: 35px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    color: #ffa500;
     margin-bottom: 30px; 
     text-shadow: 0px 1px 1px black;
    }
 
    .container h1 span{
        color: #2e86c1;
    }

.container p{
    
    text-align: left;
    font-size: 19px;
    /* font-family: "Agbalumo", system-ui; */
     font-weight: bold; 
    color: #333;
    margin-bottom: 30px;
}

.map-container{
  position: relative;
  width: 100%;
    height: 0; 
   padding-bottom: 56.25%; 
}

iframe{
     position: absolute; 
    top: 0;
    left: 0;
     width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}



.button{
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s;
}


.button:hover{
    background-color: #45a049;
}









@media (max-width:765px){
    
    #features .content h1{
        
        margin-top: 29%;
        font-size: 14px;
    }

    #features .content p{
        font-size: 8px;
    }

.container p{
    font-size: 9px;
    font-weight: bold;
}

#footer p{
    font-size: 8px;
}


}









 

#footer{
    width: 100%;
    margin-top: 150px;
    text-align: center;
    background: #000000;
}

#footer h1{
    font-weight: 600;
    padding-top: 30px;
    color: #2e86c1;
    text-shadow: 0px 0px 1px #2e86c1;
}

#footer h1 span{
    color: #ffa500;
}

#footer p{
    color: #ffffff;
}

.social-links i{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    background: black;
    color: #ffa500;
    margin-left: 10px;
    margin-bottom: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-links i:hover{
    transform: scale(1.2)translateY(-10px);
    color: #2e86c1;
    border: 2px solid #ffa500;
}


#footer .credit a{
    text-decoration: none;
}
















@media(max-width:800px) {

    .hideOnMobile{
        display: none ;
    }

    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}